
/* ============================ NAV 1 ========================== */

	div.nav1 {
		margin: .5% auto; 
		background: #ffcc00;

	}

	div.nav1 img {
		width: 80%;
	}

	div.nav1 > div.col-md-offset-3.col-md-3 {
		padding-top: 2%;
	}


	div.nav1 .widget_socials_ignited{
		margin-top: 5%;
		
	}


/* ============================ NAV 2 ========================== */
	
	div.nav2 { height: auto; }

	div.nav2 > div.col-md-8 .navbar-default {
		background: white;
		border-color: none;
	}

	div.nav2 > div.col-md-8 .navbar-default li.c-active > a:not(.btn) {
		color: white;
	}

	div.nav2 > div.col-md-8 .navbar-default li.c-menu-type-classic > a:hover{
		color: #5bf2ff;
	}

/* ============================ CONTENT: PLAYER ========================== */
	

	div#contentPage div.player_sides img {
		height: 278px;
	}
	
	div#contentPage div#player_right{
		margin-left: 20px;
	}

	.jp-gui {
		background: rgba(247, 247, 247, 0) none repeat scroll 0% 0%; 
		padding-left:37px !important;
		left: 0px !important;
	}

/* ============================ BULLETIN BOARD ========================== */
	
	div.bulletin_{
		margin-top: 2%;
	}

		/* ======================BULLETIN BOARD SIDEBAR =================== */

		div.PopMusic {
			float: left;
		    width: 200px;
		    font-size: 12px;
		    line-height: 18px;
		    margin-left: 20px;
		}


		div.PopMusic img {
			display: block;
		    float: left;
		    height: 90px;
		    width: 90px;
		    padding: 0;
		    margin-right: 10px;
		    margin-left: 10px;
		    border: 5px solid transparent;
		    box-shadow: 0px 0px 20px -5px #000;
		    -moz-box-shadow: 0px 0px 20px -5px #000;
		    -webkit-box-shadow: 0px 0px 20px -5px #000;
		    -ms-box-shadow: 0px 0px 20px -5px #000;
		    -o-box-shadow: 0px 0px 20px -5px #000;
		}

		div.PopMusic ul li {
			list-style-type: none;
			border-bottom: 1px solid #F1F1F1;
			line-height: normal;
			list-style: none !important;
			overflow: hidden;
			padding: 0 0 5px;
		}

		div.PopMusic ul {
			margin: 0;
		}

		div.PopMusic .item-title {
			padding-bottom: .2em;
		    font-size: 13px;
		    font-weight: normal;
		}

/* ========================== TOP REQUESTED SONGS ======================= */
	.top_res table th a {
		font-weight: 700;
	}

	.top_res table td img {
		width: 100px;
		height: 100px;
	}

	.top_res .table>tbody>tr>th, .table>tbody>tr>td {
		border: none;
	}


/* ============================ LAUNCH MUSIC ========================== */
	div#upMusic, div#abtpage , div.top_res{
		padding-top: 2%;
	}

	div#upMusic div#terms_form {
		margin-top: 1%;
		padding: 15px ;
	}

	div#upMusic .btn:hover {
		color: white;
	}

/* ============================ ABOUT US PAGE ========================== */
	



/* ============================ MOBILE ========================== */

	@media (max-width: 768px) {
			
		/* ============================ NAV 1 ========================== */
			div.nav1 .col-xs-12 .ci-socials-ignited{
				margin: -2% auto 1% auto;
				float: none !important;
				display: block;
				margin-left: 30%;
			}

		/* ====================== CONTENT: PLAYER ================== */
			
			div#contentPage  div.col-xs-12, div#contentPage  div.col-xs-8{
				margin-bottom: 2%;
			}

			div#contentPage div#jp_container_1, .jp-type-single {
				float: left !important;
			}

			div#contentPage div.jp-gui, .jp-audio .jp-controls {
				padding-left: 0 !important;
				margin-left: 5px !important;
			}

			div#contentPage div.jp-progress, div#contentPage div.jp-time-holder {
				left: 90px;
			}

			div#contentPage div.jp-volume-controls{
				left: 250px;
			}


		/* ======================BULLETIN BOARD SIDEBAR =================== */

			div.PopMusic {
			    width: inherit;
			    font-size: inherit;
			    line-height: 0;
			    margin-left: 0;

			}

			div.PopMusic h3{
				font-size: 26px;
			}

			div.PopMusic img {
				height: 250px;
				width: 250px;
				display: block;
			    float: none;
			    padding: 0;
			    margin-right: auto;
			    margin-left: auto;
			    border: 10px solid transparent;
			    box-shadow: 0px 0px 25px -10px #000;
			    -moz-box-shadow: 0px 0px 25px -10px #000;
			    -webkit-box-shadow: 0px 0px 25px -10px #000;
			    -ms-box-shadow: 0px 0px 25px -10px #000;
			    -o-box-shadow: 0px 0px 25px -10px #000;
			}

			div.PopMusic .item-title  span {
				font-size: 20px;
				font-weight: 700;

			}

			div.PopMusic ul li {
				list-style-type: none;
			}

			div.PopMusic ul {
				margin: 0;
			}

		/* ======================TOP REQUESTED SONGS =================== */

			.tr_num, .tr_img {
				margin-right: 0;
				padding-right: 0;
			}

			.top_res table td img {
				width: 40px;
				height: 40px;
			}

			.top_res { 
				padding-left: 0; 
				padding-right: 0; 
			}

	}	