/*/**/*/
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

/*button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
*/
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

/*button, input { line-height: normal; *overflow: visible; }
*/
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
/*
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
*/
/*
 * Consistent box sizing and appearance
 */

/*input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
*/
/*
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */


/* Container */
.holder a{
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
  padding: 7px 4px 6px 4px;
  border-radius: 40px;
  border: 1px solid #eeeeee;
}

div#container { width: 900px; }

/* Filtrify link*/
div#author {
    background: #F0F2EB;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-style: italic;
    font-size: 13px;
    color: gray;
    text-shadow: 0 1px white;
}
div#author a { font-weight: bold; margin: 0 3px; }

/* Header */

div#container header { margin-bottom: 50px; }
div#container header h1 { font-size: 34px; color: #FF4242; letter-spacing: -3px; text-shadow: 0 1px 0 #E53B3B; }
div#container header h1:before { content: "this.is( "; }
div#container header h1:after { content: " );"; }
div#container header h1:before,
div#container header h1:after {
  font: normal 12px "Courier New", Courier, monospace;
  color: #4B4647;
  text-shadow: none;
  letter-spacing: normal;
}


/* Sidebar */

div#sidebar {  float: left; width: 200px; font-size: 12px; line-height: 18px; margin-left: 20px; }

div#sidebar h1 { font-size:21px; color:#FF4242; margin-bottom:30px; text-shadow: 0 1px 0 #ddd; }

div#sidebar h2 { margin: 15px 0 5px 0px; font-size: 12px; }

div#sidebar ul { list-style: none; margin: 0; padding: 0; }
div#sidebar ul li a { color: gray; line-height: 1.8; }
div#sidebar ul li a:hover { background-color: #222; color: white; }
div#sidebar ul li.selected a { color: #FF4242; font-weight: bold; }
div#sidebar ul li.selected a:hover { background: none; color: #FF4242; }

div#sidebar div.share{ margin-top:20px; }

/* Content */

/*div#content { float: left; width: 680px; }*/
div#content h2 { font-size: 21px; margin-bottom: 30px; }
div#content h3 { margin: 50px 0px 10px 0px; }
div#content p { line-height:1.5; }
div#content p a { color: white; background: #D4EE5E; font-weight: bold; }
div#content p a:hover { background: black; }
div#content p + div { margin-top: 50px; }
div#content h3 span { background-color: #F4FAD2; color: #5C826D; padding: 2px 3px; margin-left: 10px; font-weight: normal; }

/* Content -> Code */

div#content div.codeBlocks { margin: 20px 0 35px; }

div#content pre { float: left; margin-right: 10px; cursor: pointer; }
div#content pre:before { content: attr(class); padding: 2px 3px; color: white; }

div#content pre.html { background: #F0F2EB; border-bottom: 1px solid #D7D9D3; }
div#content pre.html:before { background: #D7D9D3; }

div#content pre.javascript { background: #F4FAD2; border-bottom: 1px solid #DBE0BC; }
div#content pre.javascript:before { background: #DBE0BC; }

div#content pre.css { background: #E1EDB9; border-bottom: 1px solid #CAD5A6; }
div#content pre.css:before { background: #CAD5A6; }

div#content pre.collapse { position: relative; padding:2% 3%; width:94%; }
div#content pre.collapse:before { position: absolute; right: 0; top: 0; }

div#content pre code { display: none; background: none; font: 11px/16px "Courier New", Courier, monospace; }
div#content pre.collapse code { display:block; }

/* Content -> Unordered Lists */

div#content ul#itemContainer { list-style: none; padding:0; margin: 20px 0;  }
div#content ul#itemContainer li { display: inline-block; margin: 5px; zoom: 1; *display:inline; }
div#content ul#itemContainer ll li img { vertical-align: bottom; width: 125px; height: 125px; }

/* Content -> index */

div#content.index pre { float:none; cursor:default; }
div#content.index pre code { display:block; }
div#content.index h2 { margin-top: 55px; }
div#content.index dl dt,
div#content.index dl dd { float: left; margin-top: 10px; }
div#content.index dl dt { clear: left; width: 70px; font-style: italic; }
div#content.index dl dd { width: 450px; }
div#content.index i + p { margin-top: 5px; }

/* Content -> documentation */

div#content.documentation h2 { margin-top: 55px; }
div#content.documentation dl dt,
div#content.documentation dl dd { float: left; margin-top: 10px; }
div#content.documentation dl dt { clear: left; width: 70px; font-style: italic; }
div#content.documentation dl dd { width: 450px; }
div#content.documentation i + p { margin-top: 5px; }

/* Content -> author */

div#content.author img { margin-bottom: 50px; }
div#content.author img + p:before { content: '“'; font-size:65px; font-family: Georgia; position:absolute; top: -55px; color: #ccc; }
div#content.author p { width: 590px; position: relative; }

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
