
    <!-- BEGIN: CONTENT/USER/FORGET-PASSWORD-FORM -->
    <div class="row" id="abtpage">
        <div class="col-md-offset-4 col-md-4 col-xs-12 text-center">
            <b>Soundlaunch</b> is a website where the music you created can be heard by a worldwide audience, amatuers and professionals, all genres can be heard on the 
                <a href="" onclick = "return false;"  id="topRequestBtns" class="link1"> 
                    <span class="color1">Top Requested.</span>
                </a> <br><br>

                <a href="" onclick = "return false;"  id = "homeButtons" class="link1">
                    <span id="font3">take a listen!</span>
                </a> <br><br>

            Also checkout the
                <a href = "" onclick = "return false;" id = "bulletinBtns" class="c-link link1">
                    <span id="background1">Bulletin Board</span>
                </a>
            where you can get information on music and other artists work.

            Don't forget to 
                <a href="" onclick = "return false;"  id="launchBtn2" class="link1">    <span class="color1">Launch Music!</span>
                </a>
        </div>

        <div class="col-md-4"></div>
    </div>
   <!-- 
     <center style="background-color:#ffcc00 !important ;color: black;">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p><b>Soundlaunch</b> is a website where the music you created can be
      heard  by a</p>
            <p align="center">worldwide audience, amatuers and professionals, all genres 
          can be heard on the<a href="" onclick = "return false;"  id="topRequestBtns" class="link1"> <span class="color1">Top Requested</span></a>.</p>
        <p align="center" class="Text_editor"><a href="" onclick = "return false;"  id = "homeButtons" class="link1"><span id="font3">take a listen!</span></a></p>
        <p>Also checkout the <a href = "" onclick = "return false;" id = "bulletinBtns" class="c-link link1"><span id="background1">Bulletin Board</span></a><br>
        where you can get information on music and other artists work.</p>
        <p>Don't forget to  !</p>
        <!-- <p>Don't forget to  <a href="vote.html" class="link1"><span class="color1">Launch Music</span></a>!</p> -->
    <!--
        <p>&nbsp;</p></p>
    </center> -->    
    <!-- END: CONTENT/USER/FORGET-PASSWORD-FORM -->    
    
    <!-- END: CONTENT/USER/SIGNUP-FORM -->
    <!-- BEGIN: CONTENT/USER/LOGIN-FORM -->
    <div class="modal fade c-content-login-form" id="login-form" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content c-square">
                <div class="modal-header c-no-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <h3 class="c-font-24 c-font-sbold">Good Afternoon!</h3>
                    <p>Let's make today a great day!</p>
                    <form>
                        <div class="form-group">
                            <label for="login-email" class="hide">Email</label>
                            <input type="email" class="form-control input-lg c-square" id="login-email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="login-password" class="hide">Password</label>
                            <input type="password" class="form-control input-lg c-square" id="login-password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <div class="c-checkbox">
                                <input type="checkbox" id="login-rememberme" class="c-check">
                                <label for="login-rememberme" class="c-font-thin c-font-17">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Login</button>
                            <a href="javascript:;" data-toggle="modal" data-target="#forget-password-form" data-dismiss="modal" class="c-btn-forgot">Forgot Your Password ?</a>
                        </div>
                        <div class="clearfix">
                            <div class="c-content-divider c-divider-sm c-icon-bg c-bg-grey c-margin-b-20">
                                <span>or signup with</span>
                            </div>
                            <ul class="c-content-list-adjusted">
                                <li>
                                    <a class="btn btn-block c-btn-square btn-social btn-twitter">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-block c-btn-square btn-social btn-facebook">
                                        <i class="fa fa-facebook"></i> Facebook
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-block c-btn-square btn-social btn-google">
                                        <i class="fa fa-google"></i> Google
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="modal-footer c-no-border">
                    <span class="c-text-account">Don't Have An Account Yet ?</span>
                    <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
                </div>
            </div>
        </div>
    </div>

                </center>
            </div>
        </div>
    </div>



  
    <script>
        $(document).ready(function () {

            var slider = $('.c-layout-revo-slider .tp-banner');
            var cont = $('.c-layout-revo-slider .tp-banner-container');
            var height = (App.getViewPort().width < App.getBreakpoint('md') ? 1024 : 620);

            var api = slider.show().revolution({
                delay: 15000,
                startwidth: 1170,
                startheight: height,

                navigationType: "hide",
                navigationArrows: "solo",

                touchenabled: "on",
                onHoverStop: "on",

                keyboardNavigation: "off",

                navigationStyle: "circle",
                navigationHAlign: "center",
                navigationVAlign: "center",

                fullScreenAlignForce: "off",

                shadow: 0,
                fullWidth: "on",
                fullScreen: "off",

                spinner: "spinner2",

                forceFullWidth: "on",
                hideTimerBar: "on",

                hideThumbsOnMobile: "on",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "on",
                hideArrowsOnMobile: "on",
                hideThumbsUnderResolution: 0,

                videoJsPath: "rs-plugin/videojs/",
            });
             
            $("#bulletinBtns").click(function(){
                $("#topPage").hide();
                $("#lowerPage").hide();
                $("#loadPageHere").load("bulletin.html");
                changeColor(this);
                $(document).prop('title', 'Bulletin Board');
                load_music();
                load_side_music();
            });

            $("#homeButtons").click(function(){
                $("#loadPageHere").empty();
                $("#topPage").show();
                $("#lowerPage").show();
                changeColor(this);
                $(document).prop('title', 'Welcome to Sound Launch');
                isTopRequestActive = false;
            });
            
            $("#topRequestBtns").click(function(){
            
                //$("#contentPage").hide();
                $("#topPage").hide();
                $("#lowerPage").hide();
                $("#loadPageHere").load("toprequest.html");
                changeColor(this);
                $(document).prop('title', 'Top Requested Song');
                isTopRequestActive = true;
            });
            
            // $("#").click(function(){
            //     $("#contentPage").hide();
            //     $("#loadPageHere").load("launch.html");
            //      changeColor(this);
            //       $(document).prop('title', 'Launch Media');
            // });

            $("#launchBtn2").click(function(){
                 if(Cookies.get('email') != undefined){
                 $("#signBtn").html('Sign Out<span class="c-arrow c-toggler"></span>')
            
                $("#topPage").hide();
                $("#lowerPage").hide();
                $("#loadPageHere").load("uploadmusic.html");
                 $(document).prop('title', 'Launch Music');
                changeColor(this);
                $("#signBtn").html('Sign Out<span class="c-arrow c-toggler"></span>')
                }else{
                    $("#topPage").hide();
                    $("#lowerPage").hide();
                    $("#loadPageHere").load("signin.html");
                    
                    $(document).prop('title', 'Sign In Sound Launch');
                    Cookies.remove('email', { secure: true });
                    Cookies.remove('id', { secure: true });
                     $("#signBtn").html('Sign In<span class="c-arrow c-toggler"></span>')
                     changeColor($("#signBtn"));
                }
            });
                function load_music(){
        $.ajax({ 
        type: 'POST', 
        url: '_get_music.php', 
        dataType: 'json',
        success: function (data) { 
            $.each(data, function(index, element) {
                //console.log("-------- "+element.title);
                // alert(element.music);
                $(".hfeed").append('<div class="post-outer">'+
                    '<div itemtype="http://schema.org/BlogPosting" itemscope="itemscope" itemprop="blogPost" class="post hentry">'+
                        '<div id="post-body-5861606266670647449" class="post-body entry-content">'+
                           '<div id="p5861606266670647449">'+
                              '<div class="article_container">'+
                                 '<div class="article_image">'+
                                    '<img src="images/'+element.poster+'" width="280" height="280" data-id="'+element.music_id+'" alt="0" onclick="makePlayActive(this)"  class="img-responsives">'+          
                                '</div>'+
                                 '<div class="article_inner">'+
                                    '<div class="article_header">'+
                                       '<h2>'+element.music_title+'</h2>'+
                                    '</div>'+
                                    '<div class="article_excerpt clearfix">'+element.comment+'</div>'+
                                    '<div class="" style = "font-size:12px;"><span class="article_comments">Comments (0)</span><span class="article_date">5/03/2015</span>'+
                                    '</div>'+
                                 '</div>'+
                              '</div>'+
                           '</div>'+
                           '<div class="article_footer clearfix">'+
                              '<div class="meta_date right">'+
                                 '<span class="article_timestamp">'+
                                 '<i class="fa fa-bookmark"></i>'+
                                 '5/03/2015'+
                                 '</span>'+
                              '</div>'+
                           '</div>'+
                           '<div style="clear: both;"></div>'+
                        '</div>'+
                    '</div>'+
                  '</div>');
            });
        }   
    });
    }

    function load_side_music(){
        $.ajax({ 
        type: 'POST', 
        url: '_get_side_music.php', 
        dataType: 'json',
        success: function (data) { 
            $.each(data, function(index, element) {
                $(".popular-posts").append('<ul>'+
                     '<li>'+
                        '<div class="item-content">'+
                            '<div class="item-thumbnail">'+
                              '<a target="_blank" href="http://inspiro-veethemes.blogspot.in/2015/05/ariana-grandes-evolving-style.html">'+
                              '<img width="280" border="0" height="280" src="images/'+element.poster+'" alt="">'+
                              '</a>'+
                            '</div>'+
                            '<div class="item-title">'+element.music_title+'</div>'+
                            '<div class="item-snippet">'+
                                '<div class="item-content">'+
                                    '<div class="item-thumbnail">'+
                                    '</div>'+
                                    '<div class="item-title"></div>'+
                                '</div>'+
                                '<div style="clear: both;"></div>'+
                            '</div>'+
                        '</div>'+
                    '</li></ul>');
            });
        }   
        });
    }
        }); //ready
   
    </script>
