 <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
    <div ng-app="myApp" ng-controller="musicController">
        <div ng-repeat = "music in musics">
           <a>{{ music.id }}</a>
        </div>
    </div>

      <script = "text/javascript">
        var app = angular.module('myApp', []);

        app.controller('musicController', function($scope, $http) {
            $http.get("_get_music.php").then(function (response) {
                $scope.musics = response.data;
            });
        });
    </script> 