
    <!-- END: LAYOUT/HEADERS/HEADER-1 -->
<!--
    <div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space c-bg-grey-1">
    	
	        <div class="container">
	            <div class="row contentContainer">
	                
	            </div>
	            <div class="c-body">
					<center style="background-color:#ffcc00 !important ;color: black;" class="row">		
					     	<h1 class="col-xs-12 col-md-12">TOP REQUESTED SONGS</h1>
					 
					     	<table class="row" cellpadding="10" border="0" align="center">
						     	<thead>
								  	<tr style="text-align: center;" class="row">
								     	<th class="col-xs-1 col-md-1 tr_num"></th> 
								     	<th class="col-xs-1 col-md-1 tr_img"></th> 
								     	<th class="col-xs-6 col-md-6"></th> 
								     	<th class="col-xs-1 col-md-1" id="allTimeBtn" style="cursor: pointer;">All Time</th> 
								     	<th class="col-xs-1 col-md-1" id="yearBtn" style="cursor: pointer;">Year</th>
								     	<th class="col-xs-1 col-md-1" id="monthBtn" style="cursor: pointer;">Month</th>
								    	<th class="col-xs-1 col-md-1" id="weekBtn" style="cursor: pointer;">Week</th>
								  	</tr>
								</thead>
														
						     	<tbody id="musicStats" class="row">
							     	

						     	</tbody>					     	
					     	</table>
					</center>
	            </div>
	        </div>
       

        
    </div>
-->

	        <div class="container-fluid top_res">
	        	<div class="row">
					<h3 class="text-center">TOP REQUESTED SONGS</h3>        		
	        	</div>

	        	<div class="row">

	        		<div class="col-md-offset-2 col-md-8 col-xs-12">

	        			<table class="table">
	        			  <tr>
	        			    <th> </th>
	        			    <th> </th> 
	        			    <th> </th>
	        			    
	        			    <th>
	        			    	<a href="" class="c-font-black">All Time</a>
	        			    </th>
	        			    
	        			    <th>
	        			    	<a href="" class="c-font-black">Year</a>
	        			    </th>

	        			    <th>
	        			    	<a href="" class="c-font-black">Month</a>
	        			    </th>

	        			    <th>
	        			    	<a href="" class="c-font-black">Week</a>
	        			    </th>

	        			  </tr>

	        			  <tr>
	        			    <td>1.</td>
	        			    
	        			    <td>
	        			    	<img src="images/Blues.jpg">
	        			    </td>

	        			    <td>
	        			    	<h5 class="text-left">
	        			    		<a href="">Title Song</a><br>

	        			    		Sample Text
	        			    	</h5>

	        			    </td>

	        			    <td>123</td>

	        			    <td>1234</td>

	        			    <td>50</td>

	        			    <td>654</td>
	        			  </tr>
	        			  
	        			</table>

	        		</div>

	        		<div class="col-md-2"></div>


	        	</div>
	        	
	        </div>

    <!-- BEGIN: PAGE SCRIPTS -->
    <script>
        $(document).ready(function () {
   			$("#allTimeBtn").css("color","#5bf2ff");
            var slider = $('.c-layout-revo-slider .tp-banner');
            var cont = $('.c-layout-revo-slider .tp-banner-container');
            var height = (App.getViewPort().width < App.getBreakpoint('md') ? 1024 : 620);
			var isNewRequest = true;
        
            var currenMusicId = $("#musicPlayer").attr("musicid");
			var color = "";
            
            displayStats = function(index,element){
	            var cntr = index +1;
	           
            	if(element.id == currenMusicId){
                	color = "#5bf2ff";
                }else{
                	color = "black";
                }
	            if(isNewRequest == true){		          	
					$("#musicStats").append('<tr class="row">'+
					'    <td nowrap="nowrap" class="color8 col-xs-1 col-md-1 tr_num" id="'+element.id+'"  style = "color:'+color+'"><span class = "playlistMC1">'+cntr+'.</span></td>'+
					'    <td id="_poster'+index+'" style="cursor:pointer;" class="col-xs-1 col-md-1 tr_img" nowrap="nowrap" data-img="images/'+element.poster+'" data-song="'+element.music.replace(/\\/g,"")+'" onclick="makePlayActive1(this)" id="'+element.id+'" alt="'+index+'"'+ 
					'	data-id="'+element.id+'"><p class="color8"><img id="posterImage'+index+'" src="images/'+element.poster+'" width="80" height="80"></p></td>'+
					'    <td class="col-xs-6 col-md-6" id="_title'+index+'"  valign="top" align="left"><p id="fonts" class="color8"><a id="'+element.id+'" href = "" onclick="makePlayActive1(this); 	return false;" data-img="images/'+element.poster+'" data-song="'+element.music.replace(/\\/g,"")+'" alt="'+index+'"'+ 
					'	data-id="'+element.id+'" class ="playlistMC" style = "color:'+color+'">'+element.title+'</a></p>'+
					'    <p class="color8"><span id="align5" id="_music'+index+'">'+element.music+'</span></p></td>'+
					'    <td class="color8 col-xs-1 col-md-1"><span class="align5" id="alltime'+index+'">'+element.alltime+'</span></td>'+
					'    <td class="color8 col-xs-1 col-md-1"> <span class="align5" id="year'+index+'">'+element.year+'</span></td>'+
					'    <td class="color8 col-xs-1 col-md-1" id="month'+index+'">'+element.month+'</td>'+
					'    <td class="color8 col-xs-1 col-md-1" id="week'+index+'">'+element.week+'</td>'+
					'  </tr>')
	            }else{
	            	$("#musicStats").append('<tr class="row">'+
					'    <td nowrap="nowrap" class="color8 col-xs-1 col-md-1 playlistMC tr_num" ><span class="'+element.id+' playlistMC1"  style = "color:'+color+'">'+cntr+'.</span></td>'+
					'    <td id="_poster'+index+'" style="cursor:pointer;" class="col-xs-1 col-md-1 tr_img" nowrap="nowrap" data-img="images/'+element.poster+'" data-song="'+element.music.replace(/\\/g,"")+'" onclick="makePlayActive1(this)" id="'+element.id+'" alt="'+index+'"'+ 
					'	data-id="'+element.id+'"><p class="color8"><img id="posterImage'+index+'" width="80" height="80" src="images/'+element.poster+'"></p></td>'+
					'    <td class="col-xs-6 col-md-6" id="_title'+index+'" width="284" valign="top" align="left" height="70"><p id="fonts" class="color8"><a id="'+element.id+'" href = "" onclick="makePlayActive1(this); 	return false;" data-img="images/'+element.poster+'" data-song="'+element.music.replace(/\\/g,"")+'" alt="'+index+'"'+ 
					'	data-id="'+element.id+'" class ="playlistMC" style = "color:'+color+'">'+element.title+'</a></p>'+
					'    <p class="color8"><span id="align5" id="_music'+index+'">'+element.music+'</span></p></td>'+
					'    <td class="color8 col-xs-1 col-md-1"><span class="align5" id="alltime'+index+'">'+element.alltime+'</span></td>'+
					'    <td class="color8 col-xs-1 col-md-1"> <span class="align5" id="year'+index+'">'+element.year+'</span></td>'+
					'    <td class="color8 col-xs-1 col-md-1" id="month'+index+'">'+element.month+'</td>'+
					'    <td class="color8 col-xs-1 col-md-1" id="week'+index+'">'+element.week+'</td>'+
					'  </tr>')

		            // $("#_poster"+index).attr("data-img","images/"+element.poster)
		            // $("#posterImage"+index).attr("src","images/"+element.poster)
		            // $("#_poster"+index).attr("data-song",element.music)
		            // $("#_poster"+index).attr("data-id",element.id)
		            // $("#_title"+index).html(element.title)
		            // $("#_title"+index).css("color",color)
		            // $("#_music"+index).html(element.music)
		            // $("#alltime"+index).html(element.alltime)
		            // $("#year"+index).html(element.year)
		            // $("#month"+index).html(element.month)
		            // $("#week"+index).html(element.week)
	            }
						
            }
	 
			loadTopRequest = function(timeType,myid){

				$.ajax({
				type: 'POST', 
				url: '_fetchtoprequest2.php', 
				data: { action: "getTopRequest",timeType:timeType }, 
				dataType: 'json',
				success: function (data) { 
					$("#musicStats").html("")
					
					$.each(data, function(index, element) {
						//index++;
						displayStats(index,element)
					//	console.log(element.id+'------'+element.music);
					});	
					isNewRequest = false;

					if(myid){
						$(".playlistMC").css("color","");
						$(".playlistMC1").css("color","");
						$("#"+myid).css("color","#5bf2ff");
						$("."+myid).css("color","#5bf2ff");
					}
				}
				});
		
			}
			$sort = "alltime";
			loadTopRequest($sort);
			$("#homeButton").click(function(){
				$("#loadPageHere").empty();
			});
			
			$("#weekBtn").click(function(){
				$sort = "week";
				loadTopRequest($sort);
				$("#weekBtn").css("color","#52c9ba");
				$("#monthBtn").css("color","");
				$("#yearBtn").css("color","");
				$("#allTimeBtn").css("color","");

				
				//loadTopRequest("week");
			});
			$("#monthBtn").click(function(){
				$sort = "month";
				loadTopRequest($sort);
				$("#weekBtn").css("color","");
				$("#monthBtn").css("color","#52c9ba");
				$("#yearBtn").css("color","");
				$("#allTimeBtn").css("color","");
				//loadTopRequest("month");
			});
			$("#yearBtn").click(function(){
				$sort = "year";
				loadTopRequest($sort);
				$("#weekBtn").css("color","");
				$("#monthBtn").css("color","");
				$("#yearBtn").css("color","#52c9ba");
				$("#allTimeBtn").css("color","");
				//loadTopRequest("year");
			});
			$("#allTimeBtn").click(function(){
				$sort = "alltime";
				loadTopRequest($sort);
				$("#weekBtn").css("color","");
				$("#monthBtn").css("color","");
				$("#yearBtn").css("color","");
				$("#allTimeBtn").css("color","#52c9ba");
				//loadTopRequest("alltime");
			});
			
			
			makePlayActive1 = function (me)
			{
				$("#jp_container_1").show();
				console.log("Make Play Active ");
			    $('#left').attr("data-test", $('#center').attr('data-test'));
			    $('#left img').attr("src", $('#center img').attr('src'));
				previousID =  $('#center').attr('data-test');
				topRequestID =  $(me).attr('alt');
				
			    var myid = $(me).attr("data-id");
			    var imageSource = $(me).attr("data-img");
			    var songSource = $(me).attr("data-song");
			    
			    $('#center').attr('data-test', myid);
			   // $('#center').attr('data-img', imageSource);
			    $("#musicPlayer").jPlayer({
					  ended: function() { // The $.jPlayer.event.ended event
					    $("#right").click();
					  },
					size:{width: "565px",
			        height: "275px"},
					swfPath: "dist/jplayer",
					supplied: "mp3",
					wmode: "window",
					globalVolume: true,
					useStateClassSkin: true,
					autoBlur: true,
					smoothPlayBar: true,
					keyEnabled: true
				});
				
				 $("#musicPlayer").jPlayer("setMedia", {
							title: "Stirring of a fool",
							mp3: "music/"+songSource,
							poster: imageSource
				});
				$("#musicPlayer").jPlayer("play");
				$("#musicPlayer").attr("musicid", myid)
				//previousSong = myid;
				
				$.post( "_saveclick.php", { musicId: myid})
				.done(function( data ) {
					if(isTopRequestActive){
						//console.log("TOP REQUEST INDEX"+topRequestID);
						$.ajax({
							type: 'POST', 
							url: '_fetchstats.php', 
							data: { action: "getOnlyRequest",id:myid }, 
							dataType: 'json',
							success: function (data) { 
								$.each(data, function(index, element) {
									$("#alltime"+topRequestID).html(element.alltime);
									$("#year"+topRequestID).html(element.year);
									$("#month"+topRequestID).html(element.month);
									$("#week"+topRequestID).html(element.week);
								});
							}
						});
					}					
				});
				loadTopRequest($sort,myid);
				return false;
			}


			isTopRequestActive = true;
            
        }); //ready
    </script>

    <!-- END: PAGE SCRIPTS -->
    <!-- END: LAYOUT/BASE/BOTTOM -->
</body>

</html>