
    <!-- END: LAYOUT/HEADERS/HEADER-1 -->
    <div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space c-bg-grey-1">
        <div class="container">
            <div class="row contentContainer">
                
            </div>
            <div class="c-body">
				<center style="background-color: #999933;color: black;">		
				     	<h1>TOP REQUESTED SONGS2222222</h1>
				 
				     	<table width="800" cellpadding="10" border="0" align="center">
					     	<thead>
							  	<tr style="text-align: center;">
							     	<th></th>
							     	<th></th>
							     	<th></th>
							     	<th id="allTimeBtn" style="cursor: pointer;">All Time</th>
							     	<th id="yearBtn" style="cursor: pointer;">Year</th>
							     	<th id="monthBtn" style="cursor: pointer;">Month</th>
							    	<th id="weekBtn" style="cursor: pointer;">Week</th>
							  	</tr>
							</thead>
													
					     	<tbody id="musicStats">
						     	

					     	</tbody>					     	
				     	</table>
				</center>
            </div>
        </div>
    </div>

    <!-- BEGIN: PAGE SCRIPTS -->
    <script>
        $(document).ready(function () {

            var slider = $('.c-layout-revo-slider .tp-banner');
            var cont = $('.c-layout-revo-slider .tp-banner-container');
            var height = (App.getViewPort().width < App.getBreakpoint('md') ? 1024 : 620);
			var isNewRequest = true;
        
            
            displayStats = function(index,element){
	            var cntr = index +1;
	            if(isNewRequest == true){
				$("#musicStats").append('<tr>'+
						'    <td width="21" nowrap="nowrap" class="color8">'+cntr+'.</td>'+
						'    <td id="_poster'+index+'" style="cursor:pointer;" width="87" nowrap="nowrap" data-img="images/'+element.poster+'" data-song="'+element.music.replace(/\//g,"")+'" onclick="makePlayActive(this)" id="'+element.id+'" alt="'+index+'"'+ 
						'	data-id="'+element.id+'"><p class="color8"><img id="posterImage'+index+'" width="80" height="80" src="images/'+element.poster+'"></p></td>'+
						'    <td id="_title'+index+'" width="284" valign="top" align="left" height="70"><p id="fonts" class="color8"><span id="color20">'+element.title+'</span></p>'+
						'    <p class="color8"><span id="align5" id="_music'+index+'">'+element.music+'</span></p></td>'+
						'    <td width="71" class="color8"><span class="align5" id="alltime'+index+'">'+element.alltime+'</span></td>'+
						'    <td width="58" class="color8"> <span class="align5" id="year'+index+'">'+element.year+'</span></td>'+
						'    <td width="58" class="color8" id="month'+index+'">'+element.month+'</td>'+
						'    <td width="65" class="color8" id="week'+index+'">'+element.week+'</td>'+
						'  </tr>')
	            }else{
		            $("#_poster"+index).attr("data-img","images/"+element.poster)
		            $("#posterImage"+index).attr("src","images/"+element.poster)
		            $("#_poster"+index).attr("data-song",element.music.replace(/\//g,""))
		            $("#_poster"+index).attr("data-id",element.id)
		            $("#_title"+index).html(element.title)
		            $("#_music"+index).html(element.music).replace(/\//g,"")
		            $("#alltime"+index).html(element.alltime)
		            $("#year"+index).html(element.year)
		            $("#month"+index).html(element.month)
		            $("#week"+index).html(element.week)
	            }
						
            }
	 
			loadTopRequest = function(timeType){
				$.ajax({
				type: 'POST', 
				url: '_fetchtoprequest2.php', 
				data: { action: "getTopRequest",timeType:timeType }, 
				dataType: 'json',
				success: function (data) { 
					$.each(data, function(index, element) {
						//index++;
						displayStats(index,element)
					//	console.log(element.id+'------'+element.music);
					});	
						isNewRequest = false;
				}
				});
		
			}
					
			loadTopRequest("alltime");
			$("#homeButton").click(function(){
				$("#loadPageHere").empty();
			});
			
			$("#weekBtn").click(function(){
				loadTopRequest("week");
			});
			$("#monthBtn").click(function(){
				loadTopRequest("month");
			});
			$("#yearBtn").click(function(){
				loadTopRequest("year");
			});
			$("#allTimeBtn").click(function(){
				loadTopRequest("alltime");
			});
			
			isTopRequestActive = true;
            
        }); //ready
    </script>

    <!-- END: PAGE SCRIPTS -->
    <!-- END: LAYOUT/BASE/BOTTOM -->
</body>

</html>