    
.smallSize {
    margin: 11px;
    width: 240px;
    height: 170px;
    cursor: pointer;
}
.contentContainer {
    width: 1051px;
    height: 713px;
}
#left {
    margin-left: -760px;
}
#right {
    margin-left: 744px;
    margin-top: -385px;
}
#center {
    margin-top: -385px;
}
#left img {
   
    width: 270px;
    height: 375px;
}
#right img {
   
    width: 270px;
    height: 375px;

}
#center video {
    
    text-align: center;
    width: 460px;
    height: 375px;
}
#musicPlayer{
	
/*
    float: left;
    margin-left: -387px;
    position: absolute;
    margin-top: 375px;
*/

}
.playlistMC{
	float: left;
    margin-left: 0;
    padding-left: 16px;
    width: 240px;
}

.displayNone{
	display: none;
}
.paging{
	    font-size: 29px;
    height: 10px;
    position: relative;
    float: left;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    height: 116px;
    color: red;
    
}
.paging ul{
	    list-style-type: none;
    margin: 0;
    padding: 0;
}
.paging ul li{
	display: inline;
text-align: center;
cursor: pointer;
	}

.menu{
	
}
.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
    
}
.menu ul li{
	
	 width: 188px;
display: inline;
text-align: center;
}
.menu ul li a{
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
background-color: #036;
	}
.menu ul li a:hover{
background-color: #369;
}


.menuFooter{
	font-size: 12px;
}
.menuFooter ul{
	   
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.menuFooter ul li{
	
	 width: 188px;
display: inline;
text-align: center;
}
.menuFooter ul li a{
	text-decoration: none;
	padding: .2em 1em;
	color: black;

	}
.menuFooter ul li a:hover{
background-color: #369;
color: white;
}




#topHeader{
	
    margin-left: -800px;
}

#search{
	    margin-left: 1600px;
    margin-top: -100px;
}
#search input{

width: 150px;
    height: 30px;
    padding: 8px;
        
        }
.color1 {
	color: #993;
	background-color: #993;
}
